@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-home {
  background-image: url("images/banner1.png");
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.active {
  background: #50adf9;
  font-size: large;
  border-radius: 14px;
  color: #fff;
  font-weight: 500;
  padding: 0px 7px;
  transition: 0.2s ease;
}

.loader {
  width: 45px;
  aspect-ratio: 0.75;
  --c: no-repeat linear-gradient(theme(colors.stone.800) 0 0);
  background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 100% 50%;
  background-size: 20% 50%;
  animation: loading 1s infinite linear;
}

.activeItm {

}

.bgImg{
  background-image: url("/src/images/products.jpeg");
}

@keyframes loading {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}


